/*
 * Pie CSS grid less configuration.
 *
 * Everything you need to configure is in this file, centrally located
 * for your convenience
 */

/* --- Number of columns --- */

@numberOfColumns: 16;

/* --- Column size / unit --- */

@columnSize: 1fr;

/* --- Gutter size (16px equals 1em, roughly) --- */

@gutter: 16px;
